In [1]:
!pip install JPype1-1.4.0-cp39-cp39-win_amd64.whl

Processing c:\jupyter notebook\tdm 실습\jpype1-1.4.0-cp39-cp39-win_amd64.whl
JPype1 is already installed with the same version as the provided wheel. Use --force-reinstall to force an installation of the wheel.

In [2]:
!pip install Konlpy

Requirement already satisfied: Konlpy in c:\users\user\anaconda3\lib\site-packages (0.6.0)
Requirement already satisfied: lxml>=4.1.0 in c:\users\user\anaconda3\lib\site-packages (from Konlpy) (4.8.0)
Requirement already satisfied: numpy>=1.6 in c:\users\user\anaconda3\lib\site-packages (from Konlpy) (1.21.5)
Requirement already satisfied: JPype1>=0.7.0 in c:\users\user\anaconda3\lib\site-packages (from Konlpy) (1.4.0)

In [3]:
from konlpy.tag import Komoran

In [4]:
tagger = Komoran()

In [5]:
tagger.pos('아버지가 방에 들어 가신다.')

[('아버지', 'NNG'),
 ('가', 'JKS'),
 ('방', 'NNG'),
 ('에', 'JKB'),
 ('들', 'VV'),
 ('어', 'EC'),
 ('가', 'VV'),
 ('시', 'EP'),
 ('ㄴ다', 'EF'),
 ('.', 'SF')]

In [6]:
tagger.nouns('아버지가 방에 들어 가신다.')

['아버지', '방']

In [7]:
tagger.morphs('아버지가 방에 들어 가신다.')

['아버지', '가', '방', '에', '들', '어', '가', '시', 'ㄴ다', '.']

In [8]:
from konlpy.tag import Twitter

In [9]:
tagger = Twitter()

C:\Users\User\anaconda3\lib\site-packages\konlpy\tag\_okt.py:17: UserWarning: "Twitter" has changed to "Okt" since KoNLPy v0.4.5.
  warn('"Twitter" has changed to "Okt" since KoNLPy v0.4.5.')

In [10]:
tagger.morphs('아버지가 방에 들어 가신다.')

['아버지', '가', '방', '에', '들어', '가신다', '.']

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('amazon_cells_labelled.txt', sep="\t", header=None)

In [13]:
df.head()

                                                   0  1
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1

In [14]:
df.shape

(1000, 2)

In [15]:
content = df[0]

In [16]:
sentiment = [1]

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [18]:
tfidf = TfidfVectorizer(stop_words='english',
                       lowercase=True,
                       max_features=1000)

In [19]:
tdm  = tfidf.fit_transform(content)

In [20]:
tdm

<1000x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 4060 stored elements in Compressed Sparse Row format>

In [21]:
tfidf.get_feature_names_out()[-10:]

array(['worthless', 'worthwhile', 'wouldn', 'wow', 'wrong', 'wrongly',
       'year', 'years', 'yell', 'yes'], dtype=object)

In [22]:
import joblib

In [23]:
with open('amazon.pkl', 'wb') as f:
    joblib.dump(
        {'vetorizer': tfidf, 'tdm': tdm, 'sentiment': sentiment},
        f
    )

In [24]:
df2 = pd.read_csv('한국방송통신전파진흥원_전파누리_최신뉴스_20210129.csv',
                 encoding='cp949',
                 engine='python')

In [25]:
df2

,제목,내용,조회수,첨부파일명,첨부파일 링크,출처
0,한국전자파학회 영문학술지 'SCIE' 등재,한국전자파학회가 발간하는 영문 학술지 'JEES'가 국제 과학기술 논문 인용색인 확...,6,NaN,NaN,전자신문
1,美 AT&T 밀리미터파 활용 '5G+' 상용화,미국 AT&T가 39㎓ 밀리미터파 대역을 활용한 '5G플러스(5G+)' 서비스를 상...,2,NaN,NaN,전자신문
2,"[이슈분석]한국, 제4이통 도전 7차례 실패",우리나라는 경쟁 활성화와 통신비 인하를 목표로 2010년부터 7차례 제4 이동통신사...,1,NaN,NaN,전자신문
3,"SKT '2G 종료' 또 조사···정부, 2차 실태점검 나선다",과학기술정보통신부가 SK텔레콤 2세대(2G) 이동통신 가입자들의 민원 분석과 기지국...,1,NaN,NaN,전자신문
4,"공공용 주파수 업무처리지침 마련…""수급 효율 향상""",과학기술정보통신부가 공공용 주파수를 효율적으로 수급·관리하기 위한 업무처리지침을 마...,1,NaN,NaN,전자신문
...,...,...,...,...,...,...
535,"홈 IoT 기업, 기축 아파트 시장 노린다",홈 사물인터넷(IoT) 기업이 이미 지어진 아파트와 빌라 등 `기축 건물`에 시선을...,13,NaN,NaN,전자신문
536,아시아 최초 무선전력전송 상호호환성시험소 국내에 생긴다,우리나라가 아시아 무선전력전송(무선충전) 허브로 입지를 굳힐 전망이다.미래창조과학부...,15,NaN,NaN,전자신문
537,"SK텔레콤, 시속 170㎞ 차량서 5G 테스트 성공",SK텔레콤이 초고속 주행 차량에서 일반 스마트폰보다 50배가량 빠른 5G 통신에 성...,20,NaN,NaN,전자신문
538,"실시간 속보 위닉스, 지난해 매출 2131억 기록...전년 대비 7.9% 상승 한국...",SK텔레콤이 초고속 주행 차량에서 일반 스마트폰보다 50배가량 빠른 5G 통신에 성...,4,NaN,NaN,전자신문
539,"SK텔레콤, 시속 170㎞ 차량서 5G 테스트 성공",SK텔레콤이 초고속 주행 차량에서 일반 스마트폰보다 50배가량 빠른 5G 통신에 성...,8,NaN,NaN,NaN

In [26]:
df2.shape

(540, 6)

In [27]:
df2['내용']

0      한국전자파학회가 발간하는 영문 학술지 'JEES'가 국제 과학기술 논문 인용색인 확...
1      미국 AT&T가 39㎓ 밀리미터파 대역을 활용한 '5G플러스(5G+)' 서비스를 상...
2      우리나라는 경쟁 활성화와 통신비 인하를 목표로 2010년부터 7차례 제4 이동통신사...
3      과학기술정보통신부가 SK텔레콤 2세대(2G) 이동통신 가입자들의 민원 분석과 기지국...
4      과학기술정보통신부가 공공용 주파수를 효율적으로 수급·관리하기 위한 업무처리지침을 마...
                             ...
535    홈 사물인터넷(IoT) 기업이 이미 지어진 아파트와 빌라 등 `기축 건물`에 시선을...
536    우리나라가 아시아 무선전력전송(무선충전) 허브로 입지를 굳힐 전망이다.미래창조과학부...
537    SK텔레콤이 초고속 주행 차량에서 일반 스마트폰보다 50배가량 빠른 5G 통신에 성...
538    SK텔레콤이 초고속 주행 차량에서 일반 스마트폰보다 50배가량 빠른 5G 통신에 성...
539    SK텔레콤이 초고속 주행 차량에서 일반 스마트폰보다 50배가량 빠른 5G 통신에 성...
Name: 내용, Length: 540, dtype: object

In [28]:
from konlpy.tag import Komoran

In [29]:
tagger = Komoran()

In [30]:
tagger.nouns('아침에 해를 보며 버스를 탔다') # 명사 추출 함수 확인

['아침', '해', '버스']

In [31]:
def get_nouns(text):
    nouns = tagger.nouns(text)
    nouns = [word for word in nouns if len(word) > 1]
    return nouns

In [32]:
get_nouns('아침에 해를 보며 버스를 탔다')

['아침', '버스']

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

In [34]:
cv = CountVectorizer

In [35]:
cv = CountVectorizer(max_features=1000, tokenizer=get_nouns)

In [36]:
tdm = cv.fit_transform(df2['내용'])

In [37]:
cv.get_feature_names_out()[-10:]

array(['회의', '회장', '획득', '효과', '효율', '후보', '후속', '훈련', '휴대', '휴대폰'],
      dtype=object)

In [38]:
tdm

<540x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 16137 stored elements in Compressed Sparse Row format>

In [39]:
from sklearn.feature_extraction.text import TfidfTransformer

In [40]:
tfidf = TfidfTransformer()

In [41]:
tdm2 = tfidf.fit_transform(tdm)

In [42]:
words = cv.get_feature_names_out()

In [43]:
for i, n in sorted(zip(tdm[0].indices, tdm[0].data)):
    print(words[i], n)

결과 1
과학기술 1
구성 1
국제 3
기준 2
발간 1
우수 1
전자파 1
점수 1
통과 1
평가 1
품질 1
학회 1
한국 1
항목 2
확장 1

In [44]:
with open('ai_nuws_tfidf.pkl', 'wb') as f:
    joblib.dump(
        {'vetorizer': tfidf, 'tdm': tdm2},
        f
    )

In [45]:
with open('ai_nuws_count.pkl', 'wb') as f:
    joblib.dump(
        {'vetorizer': cv, 'tdm': tdm2},
        f
    )