In [1]:
!pip install JPype1-1.4.0-cp39-cp39-win_amd64.whl

Processing c:\jupyter notebook\tdm 실습\jpype1-1.4.0-cp39-cp39-win_amd64.whl
JPype1 is already installed with the same version as the provided wheel. Use --force-reinstall to force an installation of the wheel.

In [2]:
!pip install Konlpy

Requirement already satisfied: Konlpy in c:\users\user\anaconda3\lib\site-packages (0.6.0)
Requirement already satisfied: JPype1>=0.7.0 in c:\users\user\anaconda3\lib\site-packages (from Konlpy) (1.4.0)
Requirement already satisfied: lxml>=4.1.0 in c:\users\user\anaconda3\lib\site-packages (from Konlpy) (4.8.0)
Requirement already satisfied: numpy>=1.6 in c:\users\user\anaconda3\lib\site-packages (from Konlpy) (1.21.5)

In [3]:
from konlpy.tag import Komoran

In [4]:
tagger = Komoran()

In [5]:
tagger.pos('아버지가 방에 들어 가신다.')

[('아버지', 'NNG'),
 ('가', 'JKS'),
 ('방', 'NNG'),
 ('에', 'JKB'),
 ('들', 'VV'),
 ('어', 'EC'),
 ('가', 'VV'),
 ('시', 'EP'),
 ('ㄴ다', 'EF'),
 ('.', 'SF')]

In [6]:
tagger.nouns('아버지가 방에 들어 가신다.')

['아버지', '방']

In [7]:
tagger.morphs('아버지가 방에 들어 가신다.')

['아버지', '가', '방', '에', '들', '어', '가', '시', 'ㄴ다', '.']

In [8]:
from konlpy.tag import Twitter

In [9]:
tagger = Twitter()

C:\Users\User\anaconda3\lib\site-packages\konlpy\tag\_okt.py:17: UserWarning: "Twitter" has changed to "Okt" since KoNLPy v0.4.5.
  warn('"Twitter" has changed to "Okt" since KoNLPy v0.4.5.')

In [10]:
tagger.morphs('아버지가 방에 들어 가신다.')

['아버지', '가', '방', '에', '들어', '가신다', '.']

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('amazon_cells_labelled.txt', sep="\t", header=None)

In [13]:
df.head()

                                                   0  1
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1

In [14]:
df.shape

(1000, 2)

In [15]:
content = df[0]

In [16]:
sentiment = [1]

In [17]:
df.head()

                                                   0  1
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [19]:
tfidf = TfidfVectorizer(stop_words='english',
                       lowercase=True,
                       max_features=1000)

In [20]:
tdm  = tfidf.fit_transform(content)

In [21]:
tdm

<1000x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 4060 stored elements in Compressed Sparse Row format>

In [22]:
tfidf.get_feature_names()[-10:]

C:\Users\User\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['worthless',
 'worthwhile',
 'wouldn',
 'wow',
 'wrong',
 'wrongly',
 'year',
 'years',
 'yell',
 'yes']

In [23]:
from sklearn.externals import joblib

ImportError: cannot import name 'joblib' from 'sklearn.externals' (C:\Users\User\anaconda3\lib\site-packages\sklearn\externals\__init__.py)